<header class="header">
    <link href="/css/unten.css" rel="stylesheet">
    <!--    <p><img id="title" src="/images/twelvechannel.png" ></p>-->
   <a href="/home" ><img id="title"  class="ten" src="/images/twelvechannel.png" ></a>
    <div class="header-btn">
        <button id="myPage" onclick="location.href='/mypage'">マイページ <img src="/images/p.png" class="p"></button>
        <button id="logout" class="custom-btn" type="button" onclick="location.href='/logout'">ログアウト</button>
    </div>
</header>