header {
    padding: 10px;
    background: #17207A;
    height: 80px;
}

body {
    background: #E6E6E6;
}

/*12ちゃんねるの画像*/
.ten {
    display: block;
    height: 70px;
    margin-left:10%;
}

.header-btn{
    position: absolute;
    top: 5%;
    right: 10%; /* 右寄せ */
    gap: 30px;
    display: flex;
    flex-direction: row;
    font-size: 5.5em;

}

.return-btn {
    background: #17207A;
    color: white;
    width: 10em;
    margin-left: 15%
}



.mypage-btn{
    width: 10em;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10%; /* 右寄せ */
    gap:1em;
}
.mypage-btn button { color: white;}

.home-btn{
    width: 10em;
    position: absolute;
    right: 10%; /* 右寄せ */
    margin-top:30px;
    color: white;
}

.admin-btn{
    display: flex;
    flex-direction: row;
    gap:10px;
     position: absolute;
     right: 15%;
}

.delete-btn{
    width: 10em;
}

.edit{
    width: 10em;
}

.search-btn{

    width:60px;
    height:35px;
}

.search-box{

     width:200px;
     height:30px;
}

.search {
    margin:  0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom:30px;
    margin-top:30px;
}

.top-btn{
    display: flex;
    flex-direction: row;
    margin-top:20px;
    margin-bottom:10px;
}

.mypage{
    margin-top: 5px;
    text-align: center;
}

.thread-tag{

   display:flex;
   justify-content:center;

}
.thread{
    margin-bottom: 0px;
    margin-top:0px;
    text-align: center;
}

.pagination li {
    background-color:white;
    display: inline;
    padding:10px 15px;
    border:1px #ccc solid;color:#000053;
    border-radius: 5px / 5px;}
    .pagination .this {background-color:#777;
    color:#fff;

      
 }

 .pagination {
    text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
 }

 .pagination div:nth-child(3) {
     flex: 0 1 auto;
     text-align: center;
     width: 100%;
 }

 .pagination div:nth-child(3)::before,
 .pagination div:nth-child(3)::after {
     content: "";
     flex: 1;
 }

.scrollbar {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    padding-left:10px;
    word-break:break-all;
    border: #a9a9a9 2px solid;
    background-color:white;
    overflow-x:hidden;
    overflow-y:scroll;
}

#comment-list{

}

.history-btn li {
    background-color:white;
    display: inline;
    padding:10px 15px;
    border:1px #ccc solid;color:#000053;
    border-radius: 5px / 5px;

    }

.history{
    text-decoration: none;
}

.history-btn { text-align: center; }

.login{
    width: 400px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    background-color: white;

}

.login-title{
    width: 180px;
}

.login-btn{
    background-color:#17207A;
    color: white;
    width:100px;
    height:30px;
 }

.login-input{
    width:200px;
    height:30px;
    padding:8px 10px;
    border-radius:10px;
    gap:10px;
}

.url{margin-left:250px;}

.thread-title{
    margin: 0 auto;
    margin-bottom:10px;
    padding-left:10px;
    width: 70%;
    height: 40px;
    background-color:white;
    font-size: 1.3rem;
    border: 1px solid black;
}

.like-btn{
    width: 10em;
    height:3em;
    position: absolute;
    right: 15%; /* 右寄せ */
    font-weight: bold;
   color: #888;
    border-radius:30px;
    background-color: transparent;
     border: 0.2em solid;
     border-radius: 1em;
}


.unlike-btn{
    width: 10em;
    height:3em;
    position: absolute;
    right: 15%; /* 右寄せ */
    color: white;
    background-image: linear-gradient(90deg, rgba(247, 93, 139, 1), rgba(254, 176, 64, 1));
    border-radius:30px;
    border: 0em solid;
         border-radius: 1em;
         font-weight: bold;
}

.add-thread{
margin-top:30px;
margin-right:5px;
padding-right:10px;
}

#addComment{
    color: white;
}

#myPage{
    background-color: #4169e1;
    color: white;
}


.add-title{
    margin-left:210px;
}

.errormsg{
    color:red;
    margin-left:650px;
}

.title-input{

    width:920px;
    height:50px;

}

.add-comment{
    margin-left:295px;
    margin-top:0px;
    margin-bottom:30px;

}

#logout{
    color: white;
}

.comment-input{
    width:920px;
    height:250px;
}

.add-tag{
    margin-left:295px;
    margin-top:0px;

}

.tag-input{
    width:920px;
    height:50px;
}

textarea{
    vertical-align:top;
    resize: none;
}

.add-btn{
    display: flex;
    flex-direction: column;
    margin-left:420px;
    margin-top:10px;
    gap:10px;
}

.post-btn{
    color:white ;
    width: 10em;
}

.comment-like{
    display: flex;
    flex-direction: row;
    margin-left:850px;
}

.title{
    font-size: 1.3rem;
}

#logout,.red{
    background-color:#ff6347;
    color:white;
}





.blue{
    background-color:#17207A;
    color:white;
}

#statement{width:960px; height:75px;}

#modal,#delete-modal {
  width: 500px;
  height:200px;
}

#modal.is-show,#tag-modal.is-show,#delete-modal.is-show {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.retire{
    font-size: 1.3rem;
    margin-top:30px;
    font-weight: bold;
}

.retire-btn{
    width:90px;
    height:25px;
}

/*popupの背景を暗くする*/
#fadeLayer {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity:0.5;
  visibility:hidden;
  z-index:1;
}

/*タグ設定popupのサイズ*/
#tag-modal {
  width: 500px;
  height:400px;
}

/*タグ設定内のスクロールバー*/
.tag-scrollbar {
    width: 70%;
    height: 200px;
    margin: 0 auto;
    padding-left:10px;
    word-break:break-all;
    border: #a9a9a9 2px solid;
    background-color:white;
    overflow-x:hidden;
    overflow-y:scroll;
    gap:10;
}

/*popupの基本設定*/
#tag-modal,#modal,#delete-modal{
    border: solid 1px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #fff;
}

.image{
    display: flex;
    flex-direction: column;
    width: 100px;
    height:20px;
    margin-top:10px;
    gap:10px;
}

.comment{
    margin-top:10px;
    margin-left:14.5%;
    display: flex;
    flex-direction: row;
    gap:10px;
}

#myPage,#logout{
    width: 10em;
    height:40px;
    font-weight: bold;
}

#myPage:hover {
    box-shadow: 0px 12px 24px #0b5dae63;
    transform: translateY(-4px);
    background:  linear-gradient(150deg, rgba(0, 255, 177, 1), rgba(65, 74, 255, 1) 44%, rgba(171, 25, 248, 1) 90%);
}

#logout:hover {
    box-shadow: 0px 12px 24px #0b5dae63;
    transform: translateY(-4px);
    background:  linear-gradient(150deg, rgba(245, 255, 0, 1), rgba(255, 179, 0, 1) 46%, rgba(255, 0, 0, 1));
}
.red:hover {

     box-shadow: 0px 12px 24px #0b5dae63;
     transform: translateY(-4px);
     background-color: #ffa500;
}

.blue:hover {
    box-shadow: 0px 12px 24px #0b5dae63;
    transform: translateY(-4px);
    background-color: #4169e1;
}

.like-btn:hover {
    box-shadow: 0px 12px 24px #0b5dae63;
    transform: translateY(-4px);
    color: #e5348c;
         }



.post-btn:hover {
    box-shadow: 0px 12px 24px #0b5dae63;
    transform: translateY(-4px);
    background: linear-gradient(110.85deg, #095DAD 0%, #11af75 100.19%);
}

.return-btn:hover {
    box-shadow: 0px 12px 24px #0b5dae63;
    transform: translateY(-4px);
    background-color: #4169e1;
}

.aiu:hover {
                shadow: 0px 12px 24px #0b5dae63;
                transform: translateY(-4px);
}

.comment-delete-btn{
    margin-left: 90%;
    width: 5em;
}

.sample-span{
    display:flex;
    gap:20px;
}

.like-comment{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     margin-right:10px;


}

.home-comment{
margin-right:10px;
}


.home-title{
    font-size:  20px;
}

 .likeButton__icon {
 display: inline-block;
 fill: currentColor;
 width: 1em;
 height: 0.8em;
 margin-top: 0.5em;
 }

.tag-btn{
     margin:3px;
     border-radius:20px;
     padding:10px;
     background:#DCCDFF;
}




