<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>新規スレッド</title>
  <link href="css/unten.css" rel="stylesheet">
</head>

<body>
<th:block th:insert="common/header"></th:block>

<div class="top-btn"><button class="return-btn" type="button" onclick="location.href='./mypage'">
  &#x1f844; 戻る
</button>
</div>
<div>
  <div>
    <h1 class="mypage">
      新規スレッド
    </h1>
  </div>

  <div>
    <form action="/add-thread" method="post" th:object="${addThread}">
      <div class="add-title">
        <label >スレッドタイトル: </label>
        <input  class="title-input" type="text" name="title" th:field="*{title}">
      </div>
      <div th:if="${!#fields.hasErrors('title')}">
        <p style="margin:0">　</p>
      </div>
      <div class="error errormsg" th:each="error: ${#fields.errors('title')}">[[${error}]]</div>




      <div class="add-tag">
        <label>タグ：</label>
        <input class="tag-input" type="text" name="tag" th:field="*{tag}">
      </div>
      <div th:if="${!#fields.hasErrors('tag')}">
        <p style="margin:0">　</p>
      </div>
      <div class="error errormsg" th:each="error: ${#fields.errors('tag')}">[[ ${error} ]]</div>

      <div class="add-comment">
        <label>本文：</label>
        <textarea class="comment-input" name="comment" th:field="*{comment}"></textarea>
        <div class="add-btn">

          <div id="imageForm"><input type="file" id="example" accept="image/*"></div>
          <!-- :point_down:ここにプレビュー画像を追加する -->
          <div id="preview"></div>
          <input type="hidden" id="image_name" th:field="*{image_name}" value="">
          <input type="hidden" id="base64" th:field="*{image_base64}" value="">
<!--          <script th:src="@{js/sample.js}"></script>-->
          <button class="post-btn blue" type="submit">投稿 &#x1f5f9;</button>

        </div>
      </div>


      <div>

      </div>
    </form>
  </div>
</div>
<script>
  let imageName = document.getElementById('image_name').value
  const fileInput = document.getElementById('example');

  if(imageName!=''){
    const imgForm = document.getElementById('imageForm');
    console.log(imgForm.children)
    fileInput.setAttribute('type','hidden');
    imgForm.insertAdjacentHTML('beforeend',`<button type="button" onclick="deleteImage()">x ${imageName}</button>`);
  }
  function deleteImage(){
    document.getElementById('image_name').value='';
    document.getElementById('base64').value='';

    console.log('削除完了');
    const imgForm = document.getElementById('imageForm');
    imgForm.removeChild(imgForm.children[1]);
    console.log(imgForm.children);
    fileInput.setAttribute('type','file');
  }
  function changeFile(file) {
  // FileReaderオブジェクトを作成
    const reader = new FileReader();
    document.getElementById('image_name').value = file.name;
    imageName = file.name
  // ファイルが読み込まれたときに実行する
    reader.onload = function (e) {
      const imageUrl = e.target.result; // 画像のURLはevent.target.resultで呼び出せる

      //ここ追加
        var img = new Image();
        img.src = imageUrl;
        img.onload = function(){
            const canvas = document.createElement('canvas');
            canvas.width = 200;
            canvas.height = img.height * (200/img.width);
            canvas.getContext('2d').drawImage(img,0,0,canvas.width,canvas.height);
            document.getElementById('base64').value = canvas.toDataURL();
        }

  //document.getElementById('base64').value = imageUrl;
  //  const img = document.createElement("img"); // img要素を作成
  //  img.src = imageUrl; // 画像のURLをimg要素にセット
  //  preview.appendChild(img); // #previewの中に追加
  }
  // いざファイルを読み込む
  reader.readAsDataURL(file);
}
// <input>でファイルが選択されたときの処理

const handleFileSelect = () => {
  const files = fileInput.files;
  for (let i = 0; i < files.length; i++) {
    changeFile(files[i]);
  }
  const imgForm = document.getElementById('imageForm');
  fileInput.setAttribute('type','hidden');
  imgForm.insertAdjacentHTML('beforeend',`<button type="button" onclick="deleteImage()">x ${imageName}</button>`);

}
fileInput.addEventListener('change', handleFileSelect);
</script>
</body>

</html>