<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link href="../static/css/unten.css" rel="stylesheet">
</head>
<body>
<fieldset style="background-color:white" class="login">

    <h1 ><img src="../static/images/title_logo.png"></h1>

<div>
    <form >
        <input type="text" class="login-input" style="width:200px; height:30px;" placeholder="ID"><br>
        <p></p>
        <input type="password" class="login-input" style="width:200px; height:30px;" placeholder="パスワード"><br>
    </form>
    <p></p>
    <button submit="button" class="login-btn">ログイン</button>
    <p class="url"><a href="signup.html">新規登録はこちら</a></p>
</div>
</fieldset>
</body>
</html>