<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    
</head>
<body>
<div>
    <h1><img src="../static/images/title_logo.png" height=100 alt="12ちゃんねる。"></h1>
</div>

<div>
    <img src="">
    <p ></p> 

    <form>
        <fieldset>
            <div>
                <input type="text" placeholder="ID">
                <div>
                </div>
            </div>

            <div>
                <input type="password" placeholder="パスワード">
                <div>
                </div>
            </div>
        </fieldset>
        <button submit="button">
            ログイン
        </button>
    </form>
    <p><a href="signup.html">新規登録はこちら</a></p>
</div>
</body>
</html>