<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    
</head>
<body>
<div>
    <h1><img src="../static/images/signup_logo.png" height=100 alt="新規登録"></h1>
</div>

<button submit="button">
    戻る
</button>

<div>
    <img src="">
    <p ></p> 

    <form>
        <fieldset>
            <div>
                <input type="text" placeholder="ID">
                <div>
                </div>
            </div>

            <div>
                <input type="password" placeholder="パスワード">
                <div>
                </div>
            </div>

            <div>
                <input type="password" placeholder="パスワード確認">
                <div>
                </div>
            </div>
       </fieldset>
        <button submit="button">
            登録
        </button>
    </form>

</div>
</body>
</html>