<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="common/sessionCheck"></th:block>
<head>
    <meta charset="UTF-8">
    <title th:text="${thread.thread_title}"></title>
    <link href="/css/unten.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="common/header"></th:block>

<div class="top-btn">
    <button class="return-btn"  id="back" onclick="location.href='/home'">	&#x1f844; 戻る</button>

    <button class="like-btn right" id="favorite"  th:if="${session.loginuser.id}!=${thread.creator}">
        <svg class="likeButton__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M91.6 13A28.7 28.7 0 0 0 51 13l-1 1-1-1A28.7 28.7 0 0 0 8.4 53.8l1 1L50 95.3l40.5-40.6 1-1a28.6 28.6 0 0 0 0-40.6z"/></svg>
        いいね</button>

    <div class="admin-btn">
    <button class="blue edit right" id="edit"  th:if="${session.loginuser.id}==${thread.creator}" th:onclick="|location.href='/edit-thread/__${thread.id}__'|">編集 	&#x1f589;</button>
    <button class="red delete-btn right" id="delete"  th:if="${session.loginuser.id}==${thread.creator}" onclick="openDeleteModal()">削除</button>
    </div>
</div>

<!--削除ポップアップ!-->
    <div id="delete-modal">
        <p class="retire"> 本当に投稿を削除しますか？</p>
        <div>
            <input type="button"  class="red retire-btn" value="削除" onclick="deleteThread()">
            <button type="button" onclick="closeDeleteModal()" >キャンセル</button>
        </div>
        <p > 投稿を削除すると復元はできません</p>
    </div>

<h1 class="thread" th:text="${thread.thread_title}"></h1>

<span class="thread-tag">
  <span th:if="${tags.size()}<3" th:each="tag:${tags}">
      <a th:href="'/home?tag='+${tag.tag}" th:text="'#'+${tag.tag}"></a> &nbsp;
  </span>

  <span th:if="${tags.size()}>=3" th:each="i:${#numbers.sequence(0,2)}">
      <a th:href="'/home?tag='+${tags[i].tag}" th:text="'#'+${tags[i].tag}"></a>&nbsp;
  </span>
</span>

<div class="scrollbar">
   <div class="comment1">
       <span class="sample-span">
           <span>投稿者　</span>
           <span th:text="${thread.created_at.split(' ')[0].replaceAll('-','/')}+'　'"></span>
       </span>
<span th:text="${thread.comment}"></span>
       <p><img th:if="${thread.image_name != ''}" th:src="${thread.image_base64}"></p>
       <hr>
       <div id="comment-list">
       </div>
   </div>
</div>

<div class="comment">
<textarea  id="statement"></textarea>
    <div class="image">
        <div id="imgInsert"><input id="example" type="file" accept="image/*"></div>
        <button class="blue post-btn" id="addComment" onclick="addComment()"> 書き込み &#x1f5f9;</button>
    </div>
</div>

<script>
    let imageName = '';
    let imageBase64 = '';

    let comCount = 10; //後から変更;

    function deleteImage(){
        console.log('削除開始');
        imageName='';
        imageBase64='';

        console.log('削除完了');
        const imgForm = document.getElementById('imgInsert');
        imgForm.removeChild(imgForm.children[1]);
        console.log(imgForm.children);
        fileInput.setAttribute('type','file');
    }

    function setFile(file) {
        // FileReaderオブジェクトを作成
        const reader = new FileReader();
        imageName = file.name;
        // ファイルが読み込まれたときに実行する
        reader.onload = function (e) {
        const imageUrl = e.target.result; // 画像のURLはevent.target.resultで呼び出せる

        //ここ追加
        var img = new Image();
        img.src = imageUrl;
        img.onload = function(){
            const canvas = document.createElement('canvas');
            canvas.width = 200;
            canvas.height = img.height * (200/img.width);
            canvas.getContext('2d').drawImage(img,0,0,canvas.width,canvas.height);
            imageBase64 = canvas.toDataURL();

        }
        //  const img = document.createElement("img"); // img要素を作成
        //  img.src = imageUrl; // 画像のURLをimg要素にセット
        //  preview.appendChild(img); // #previewの中に追加
        }
        // いざファイルを読み込む
        reader.readAsDataURL(file);
    }
        // <input>でファイルが選択されたときの処理
    const fileInput = document.getElementById('example');
    const handleFileSelect = () => {
        const files = fileInput.files;
        for (let i = 0; i < files.length; i++) {
            setFile(files[i]);
        }
        const imgForm = document.getElementById('imgInsert');
        fileInput.setAttribute('type','hidden');
        imgForm.insertAdjacentHTML('beforeend',`<button type="button" onclick="deleteImage()">x ${imageName}</button>`);

    }

    fileInput.addEventListener('change', handleFileSelect);

    function isFavorite(){
    let threadId = document.URL.split('/').slice(-1)[0];
    fetch(`/isFavorite/${threadId}`)
    .then(res =>{
      if(res.status === 200){
          res.json()
          .then(data => {
              if(data){
                  document.getElementById('favorite').setAttribute('onclick',`deleteFavorite(${threadId})`)
                  if(document.getElementById('favorite').classList.contains('like-btn')){
                    document.getElementById('favorite').classList.remove('like-btn');}
                  document.getElementById('favorite').classList.add("unlike-btn");
              }else{
                  document.getElementById('favorite').setAttribute('onclick',`insertFavorite(${threadId})`)
                  if(document.getElementById('favorite').classList.contains('unlike-btn')){
                    document.getElementById('favorite').classList.remove('unlike-btn');}
                   document.getElementById('favorite').classList.add("like-btn");

                  }
          })
      }
    });
    }

    async function insertFavorite(threadId){
        await fetch(`/favorite/${threadId}`);
        isFavorite(threadId);
    }
    async function deleteFavorite(threadId){
        const param = {method:"DELETE"};
        await fetch(`/favorite/${threadId}`,param);
        isFavorite(threadId);
    }

    async function deleteThread(){
        let threadId = document.URL.split('/').slice(-1)[0];
        const param = {method:"DELETE"};
        console.log(threadId);
        await fetch(`/deleteThread/${threadId}`,param)
        .then(res =>{
            if(res.status === 200){
                location.href='/home';
            }
        });
    }

    async function commentDelete(id){
        const param = {method:"DELETE"};
        await fetch(`/delete-comment/${id}`,param);
        document.getElementById(id).remove();
    }

    async function addComment(){
    let threadId = document.URL.split('/').slice(-1)[0];
    let statement = document.getElementById('statement').value;
    console.log(imageName);

    const commentForm = {
      comment: statement,
      image_name: imageName,
      image_base64: imageBase64
    }

    document.getElementById('statement').value='';

    const imgForm = document.getElementById('imgInsert');


    const param = {method: 'POST',
                  headers:{'Content-Type': 'application/json'},
                   body: JSON.stringify(commentForm)}
    if(statement.replaceAll(/　| /g,'') === '' && imageName === ''){
        return;
    }
    if(imageName !== ''){
      deleteImage();
    }
    await fetch(`/insert-comment/${threadId}`,param)
    .then(res =>{
      if(res.status === 400){
          res.json()
          .then(data => {
              data.errors.forEach(e => console.log(e.defaultMessage))
          })
      }else{
          res.json()
          .then(data => {
              let commentList = document.getElementById('comment-list');
              let commeDiv = document.createElement('div');
              commeDiv.classList.add("comment1");
              commeDiv.id = data.id;

              let span = document.createElement('span');
              span.classList.add('sample-span');

              let id = document.createElement('p');
              let date = document.createElement('p');
              let statement = document.createElement('p');

              id.textContent = 'No. '+data.id;
              date.textContent = data.created_at.split(' ')[0].replaceAll('-','/');
              statement.textContent = data.comment;

              span.appendChild(id);
              span.appendChild(date);

              //commeDiv.appendChild(id);
              //commeDiv.appendChild(date);
              commeDiv.appendChild(span)
              commeDiv.appendChild(statement);

              if(data.image_base64 != ''){
                 commeDiv.insertAdjacentHTML('beforeend',`<img src="${data.image_base64}" />`)
              }
              if(data.user_id === 1){
                 commeDiv.insertAdjacentHTML('beforeend',`<button class='comment-delete-btn red' onclick='commentDelete(${data.id})'>削除</button>`)
              }
              commeDiv.insertAdjacentHTML('beforeend','<hr>');
              commentList.prepend(commeDiv);
          })
      }
    })
    }

    function commentView(){
    console.log(document.URL.split('/').slice(-1)[0]);
    let threadId = document.URL.split('/').slice(-1)[0];
    fetch(`/view-comment/${threadId}`)
    .then(res =>{
      if(res.status === 200){
          res.json()
          .then(data => {
              let commentList = document.getElementById('comment-list');
              console.log('長さ：'+data.length);

              for(let comme of data){
                  console.log(comme.created_at.split(' ')[0].replaceAll('-','/'));
                  let commeDiv = document.createElement('div');
                  commeDiv.classList.add("comment1");
                  commeDiv.id = comme.id;
                  let span = document.createElement('span');
                  span.classList.add('sample-span');
                  let id = document.createElement('p');
                  let date = document.createElement('p')
                  let statement = document.createElement('p');

                  id.textContent = 'No. '+comme.id;
                  date.textContent = comme.created_at.split(' ')[0].replaceAll('-','/');
                  statement.textContent = comme.comment;

                  span.appendChild(id);
                  span.appendChild(date);

                  //commeDiv.appendChild(id);
                  //commeDiv.appendChild(date);
                  commeDiv.appendChild(span)
                  commeDiv.appendChild(statement);
                  if(comme.image_base64 != ''){
                     commeDiv.insertAdjacentHTML('beforeend',`<img src="${comme.image_base64}" />`)
                  }
                  if(comme.user_id === 1){
                     commeDiv.insertAdjacentHTML('beforeend',`<button class='comment-delete-btn red' onclick='commentDelete(${comme.id})'>削除</button>`)
                  }
                  commeDiv.insertAdjacentHTML('beforeend','<hr>');
                  commentList.append(commeDiv);
              }
              if(data.length == comCount){
                  comCount=5;
                  commentList.insertAdjacentHTML('beforeend',`<button onclick='viewLoad()' id='dataReload'>データ更新</button>`);
              }
          })
      }
    });
    }
    function viewLoad(){
    document.getElementById('dataReload').remove();
    fetch(`/view-comment-reload`)
    .then(res =>{
      if(res.status === 200){
          res.json()
          .then(data => {
              let commentList = document.getElementById('comment-list');
              console.log('長さ：'+data.length);

              for(let comme of data){
                  let commeDiv = document.createElement('div');
                  commeDiv.classList.add("comment1");
                  commeDiv.id = comme.id;

                  let span = document.createElement('span');
                  span.classList.add('sample-span');

                  let id = document.createElement('p');
                  let date = document.createElement('p');
                  let statement = document.createElement('p');

                  id.textContent = 'No. '+comme.id;
                  date.textContent = comme.created_at.split(' ')[0].replaceAll('-','/');
                  statement.textContent = comme.comment;

                  span.appendChild(id);
                  span.appendChild(date);

                  //commeDiv.appendChild(id);
                  //commeDiv.appendChild(date);
                  commeDiv.appendChild(span)

                  commeDiv.appendChild(statement);
                  if(comme.image_base64 != ''){
                     commeDiv.insertAdjacentHTML('beforeend',`<img src="${comme.image_base64}" />`)
                  }
                  if(comme.user_id === 1){
                     commeDiv.insertAdjacentHTML('beforeend',`<button class='comment-delete-btn red' onclick='commentDelete(${comme.id})'>削除</button>`)
                  }
                  commeDiv.insertAdjacentHTML('beforeend','<hr>');
                  commentList.append(commeDiv);
              }
              if(data.length === comCount){
                  commentList.insertAdjacentHTML('beforeend',`<button onclick='viewLoad()' id='dataReload'>データ更新</button>`);
              }
          })
      }
    });
    }
    commentView();
    if(document.getElementById('favorite') != null){
        isFavorite();
    }

</script>
<div id="fadeLayer"></div>
<script src="/js/unten.js"></script>
</body>
</html>