<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/test.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="parent">
        <div>
            <img id="title" src="images/title.png">
        </div>
        <div class="right">
            <button id="myPage">マイページ</button>
            <button id="logout">ログアウト</button>
        </div>
    </div>
</header>
<div class="parent">
    <button id="back">←戻る</button>
    <button id="favorite" class="right">いいね♡</button>
</div>
<div class="comment">
    <p>お菓子について語る - #お菓子,#グリコ,#明治</p>
    <p>投稿者.</p><p>2024/06/11</p>
    <p>ぷくぷくたいチョコ</p>
    <img src="images/taityoko.png">
</div>
<div class="comment">
    <p>284.2024/06/13</p>
    <p>プリングルスが最強です。</p>
</div>
<div class="comment">
    <p>506.2024/06/13</p>
    <p>羊羹以外はgm<br>お前ら羊羹食え</p>
</div>
<button id="addImage">+画像追加</button>
<button id="addComment">書き込み</button>
</body>
</html>